.gwResultCard {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    box-sizing: border-box;
    padding: .3em .5em;
}

.winnerCard {
    background-color: green;
    border-radius: .5rem;
    flex-direction: row;
}

.winnerCard>.winnerData {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.winnerCard>.winnerData>.comment {
    font-size: small;
    color: var(--muted-text);
}

.winnerCard.rejected {
    background-color: hsl(var(--destructive));
}

.gwResultCard:hover {
    background-color: hsl(var(--purple-hsl));
    border-radius: 5px;
}

.winnerCard>.actions {
    display: none;
}

.winnerCard:hover>.actions {
    display: flex;
    align-items: center;
}